numpy==1.26.4
Pillow==11.3.0
pandas==2.2.2
# ONNX Runtime & HuggingFace tokenizers (Pengganti TensorFlow)
onnxruntime
transformers
tokenizers
ai-edge-litert==1.0.1
setuptools<70.0.0
fastapi
uvicorn
pydantic
python-multipart
python-dotenv
chromadb
google-genai
